node_modules/
.env
.env.*
!.env.example

dist/
build/

backend/uploads/
backend/src/uploads/*
!backend/src/uploads/.gitkeep
!backend/src/uploads/barang/.gitkeep
!backend/src/uploads/scan/.gitkeep

*.log
